
        <!-- <div class="position">
            <div class="modify">
                <h2>
                    Register Flights
                </h2>
            </div>
            <div> -->
            <!-- <form [formGroup]="RegisterForm" (ngSubmit)="submitData()"> 
                <br><b>Name:</b><br><input  type="text" formControlName="name" name="registerObj.name" class="form-control" id="name" [(ngModel)]='registerObj.name' value="name" placeholder="Enter Flight Name">
                <br><br><b>From:</b><br><input type="text" formControlName="from" class="form-control" name="registerObj.starting" [(ngModel)]='registerObj.starting' value="starting" placeholder="Enter Starting Place">
                <br><br><b>To:</b><br><input type="text" formControlName="to" class="form-control" name="registerObj.ending" [(ngModel)]='registerObj.ending' value="ending" placeholder="Enter Destination Place">
                <br><br><b>Departure_Date:</b>(yyyy-mm-dd)<br><input type="text" formControlName="departure" class="form-control" name="registerObj.departure" [(ngModel)]='registerObj.departure' value="departure" placeholder="Enter Departure Date">
                <br><br><b>Return_Date:</b>(optional)<br><input type="text" formControlName="return" class="form-control" [(ngModel)]='registerObj.return1' value="return1" placeholder="Enter Return Date">
                <br><br><b>Price:</b><br><input type="text" formControlName="price" class="form-control" name="registerObj.total" [(ngModel)]='registerObj.total' value="total" placeholder="Enter Ticket Price">
                <br><br><b>Class_type:</b><br><input type="text" formControlName="class1" class="form-control"  name="registerObj.type1" [(ngModel)]='registerObj.type1' value="type1" placeholder="Enter Class Type"><br><br>
                <button [disabled]="RegisterForm.invalid" id="submit" (click)='sendData()' type="submit" >Submit</button>
                
            </form>-->
            <!-- <form [formGroup]="RegisterForm" (ngSubmit)="submitData()"> 


                <mat-form-field> 
                    <input  matInput type="text" formControlName="name" class="form-control" name="registerObj.name"  [(ngModel)]='registerObj.name' placeholder="Enter Flight Name">
                </mat-form-field><br>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="from" class="form-control" name="registerObj.starting"  [(ngModel)]='registerObj.starting' placeholder="Enter Starting Place">
                </mat-form-field><br>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="to" class="form-control" name="registerObj.ending"  [(ngModel)]='registerObj.ending' placeholder="Enter Destination Place">
                </mat-form-field><br>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="departure" class="form-control" name="registerObj.departure"  [(ngModel)]='registerObj.departure' placeholder="Enter Departure Date">
                </mat-form-field><br>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="price" class="form-control" name="registerObj.total"  [(ngModel)]='registerObj.total' placeholder="Enter Ticket Price">
                </mat-form-field><br>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="class1" class="form-control" name="registerObj.type1"  [(ngModel)]='registerObj.type1' placeholder="Enter Class Type">
                </mat-form-field><br>
        
                <button [disabled]="RegisterForm.invalid" mat-button id="submit" (click)='sendData()' type="button" >Submit</button>
                
            </form>
            </div>
        </div>-->

        <div fxLayoutAlign="center center" >  
            <mat-card fxFlex="25">
                <mat-toolbar >Register Flights</mat-toolbar>
                <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="RegisterForm" (ngSubmit)="submitData()">
                
                <mat-form-field> 
                    <input  matInput type="text" formControlName="name" class="form-control" name="registerObj.name"  [(ngModel)]='registerObj.name' placeholder="Enter Flight Name">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="from" class="form-control" name="registerObj.starting"  [(ngModel)]='registerObj.starting' placeholder="Enter Starting Place">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="to" class="form-control" name="registerObj.ending"  [(ngModel)]='registerObj.ending' placeholder="Enter Destination Place">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="departure" class="form-control" name="registerObj.departure"  [(ngModel)]='registerObj.departure' placeholder="Enter Departure Date">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="price" class="form-control" name="registerObj.total"  [(ngModel)]='registerObj.total' placeholder="Enter Ticket Price">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="class1" class="form-control" name="registerObj.type1"  [(ngModel)]='registerObj.type1' placeholder="Enter Class Type">
                </mat-form-field>
        
                <button [disabled]="RegisterForm.invalid" mat-button  (click)='sendData()' type="button" >Submit</button>
            </form>
            </mat-card>
        </div>