<!-- <br><br>Email:<br><input type="text" [(ngModel)]='loginObj.email' value="email" 
placeholder="Enter your email"><br><br>


Password:<br><input type="password" [(ngModel)]='loginObj.pwd' value="pwd"
placeholder="Enter your password"><br><br>
<button (click)='login()'>Login</button> 
<button (click)='logout()'>Logout</button>
<br><br> -->

   
<div fxLayoutAlign="center center" > 
    <mat-card fxFlex="25">
        <mat-toolbar >Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="LoginForm" (ngSubmit)="submitData()">
            <mat-form-field> 
                <input required matInput type="text" name="registerObj.email" formControlName="email" class="form-control" [(ngModel)]='loginObj.email' placeholder="Enter Your Email">
            </mat-form-field>

            <mat-form-field>
               <input required matInput type="text" name="registerObj.pwd" formControlName="pwd" class="form-control" [(ngModel)]='loginObj.pwd' placeholder="Enter Your Password">
           </mat-form-field>
           <button [disabled]="LoginForm.invalid" mat-button type="button" (click)='login()' color="primary">Login</button>
           <button [disabled]="LoginForm.invalid" mat-button type="button" (click)='logout()'color="primary">Logout</button>
        </form>
    </mat-card>
</div>